<div *ngIf="MsgConfirmation">
    <p style="color: green">Merci de votre inscription<i class="fa fa-check"></i></p>
</div>
<div *ngIf="confirmation">
    <form [formGroup]="registerForm" (ngSubmit)="checkData()">
        <label> Nom : </label>
            <input class="form-control"  type="text" formControlName="lastName" >
        <label> Prénom : </label>
            <input class="form-control"  type="text" formControlName="firstName">
        <label> date de naissance : </label>
            <input class="form-control"  type="date" formControlName="birthday">
        <label> sexe : </label>
            <select class="form-control"  type="text" formControlName="gender">
                <option value="homme">homme</option>
                <option value="femme">femme</option>
                <option value="autre">autre</option>
            </select>
        <label> phone : </label>
            <input class="form-control"  type="tel" formControlName="phone">
        <label> adresse :</label>
            <input class="form-control"  type="text" formControlName="adress">
        <label> ville :</label>
            <input class="form-control"  type="text" formControlName="city">
        <label> code postal : </label>
            <input class="form-control"  type="text" formControlName="zip">
        <label> pays : </label>
            <input class="form-control"  type="text" formControlName="country">
        <label> permis de conduire : </label>
            <input class="form-control"  type="text" formControlName="driverLicense">
        <label> mail : </label>
            <input class="form-control"  type="email" formControlName="mail">
        <label> mot de passe : </label>
            <input class="form-control"  type="password" formControlName="password1">
        <label> Confirmation du mot de passe : </label>
            <input class="form-control"  type="password" formControlName="password2">
            <p *ngIf="password" style="color: red">Les mots de passes ne son pas identique</p>
        <div class="row my-4">
            <div class="col-md-2 mx-auto">
                <input type="submit" [disabled]="!registerForm.valid" class="btn btn-success" value="Enregister">
            </div>
        </div> 
    </form>
</div>