<div class="container-fluid">
  <form [formGroup]="vehiculeForm" (ngSubmit)="showvehicule()">
    <div class="container-fluid">
      <div class="row my-4">
        <div class="col-md-3">
          <label for="type_vehicule">Type de vehicule</label>
          <select formControlName="type" class="form-control"  id="type_vehicule">
            <option disabled selected value hidden> Choissisez </option>
            <option *ngFor="let typev of type_vehicule" [value]="typev.id">{{typev.nom}}</option>
          </select>
        </div>
        <div class="col-md-3 ">
          <label for="marque">Marques</label>
          <select formControlName="marque" (change)="Onchange(marques.value)" #marques class="form-control" id="marque">
            <option disabled selected value hidden> Choissisez </option>
            <option *ngFor="let mar of marque" [value]="mar.id">{{mar.nom}}</option>
          </select>
        </div>
        <div class="col-md-3 ">
          <label for="model">Model</label>
          <select formControlName="model" class="form-control"  id="model" >
            <option disabled selected value hidden> Choissisez </option>
            <option *ngFor="let mod of model" [value]="mod.id">{{mod.nom}}</option>
          </select>
        </div>
        <div class="col-md-3 ">
          <label for="couleur">Couleur</label>
          <select formControlName="couleur" class="form-control" id="couleur" >
            <option disabled selected value hidden> Choissisez </option>
            <option *ngFor="let coul of couleur" [value]="coul.id">{{coul.nom}}</option>
          </select>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-6">
          <label for="type">Date de debut</label>
          <input formControlName="datedebut" type="datetime-local" class="form-control">
        </div>
        <div class="col-md-6 ">
          <label for="type">Date de Fin</label>
          <input formControlName="datefin" type="datetime-local" class="form-control">
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-2 mx-auto text-center">
          <button *ngIf="router.url !== '/administration/offre'" type="submit" class="btn btn-success" >Valider</button>
          <button *ngIf="router.url === '/administration/offre'" type="submit" class="btn btn-success" >Valider</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="isViewable" class="vehicule">
  <div class="card-vehicule">
    <div *ngFor="let vehicules of vehicule" class="card">
      <p>{{vehicules.marque}} {{vehicules.model}}</p>
      <div class="card-image" [ngStyle]="{'background-image': 'url(' + vehicules.img + ')'}">
      </div>
      <p>{{vehicules.prix}}€ | {{vehicules.autonomie}}km</p>
      <button type="button" class="btn btn-primary" (click)="detail(vehicules.id)">
        Plus d'information
      </button>
    </div>
  </div>
</div>
