<div class="container">
  <form>
      <div class="row my-4">
          <div class="col-md-3">
              <label for="type">Date de debut</label>
              <input type="date" class="form-control">
          </div>
          <div class="col-md-3 ">
              <label for="type">Heure de debut</label>
              <input type="time" class="form-control">
          </div>
          <div class="col-md-3 ">
              <label for="type">Date de Fin</label>
              <input type="date" class="form-control">
          </div>
          <div class="col-md-3 ">
              <label for="type">Heure de Fin</label>
              <input type="time" class="form-control">
          </div>
      </div>
      <div class="row my-4">
        <div class="col-md-2 mx-auto">
          <button type="submit" class="btn btn-success">Valider</button>
        </div>
      </div>
  </form>
</div>