    <div class="container">
      <h1>Reservation</h1>
    </div>
    <form>
      <div class="container">
        <div class="row my-4">
          <div class="col-md-2 offset-md-1">
            <label for="type_vehicule">Type de vehicule</label>
            <select class="form-control" id="type_vehicule" required>
              <option *ngFor="let typev of type_vehicule" [value]="typev">{{typev}}</option>
            </select>
          </div>
          <div class="col-md-2 ">
            <label for="marque">Marques</label>
            <select class="form-control" id="marque" required>
              <option *ngFor="let mar of marque" [value]="mar">{{mar}}</option>
            </select>
          </div>
          <div class="col-md-2 ">
            <label for="model">Model</label>
            <select class="form-control" id="model" required>
              <option *ngFor="let mod of model" [value]="mod">{{mod}}</option>
            </select>
          </div>
          <div class="col-md-2 ">
            <label for="couleur">Couleur</label>
            <select class="form-control" id="couleur" required>
              <option *ngFor="let coul of couleur" [value]="coul">{{coul}}</option>
            </select>
          </div>
          <div class="col-md-2 ">
            <label for="type">Type</label>
            <select class="form-control" id="type" required>
              <option *ngFor="let typ of type" [value]="typ">{{typ}}</option>
            </select>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-md-3 offset-md-1">
            <label for="type">Date de debut</label>
            <input type="date" class="form-control">
          </div>
          <div class="col-md-2 ">
            <label for="type">Heure de debut</label>
            <input type="time" class="form-control">
          </div>
          <div class="col-md-3 ">
            <label for="type">Date de Fin</label>
            <input type="date" class="form-control">
          </div>
          <div class="col-md-2 ">
            <label for="type">Heure de Fin</label>
            <input type="time" class="form-control">
          </div>
        </div>
        <div class="row my-4">
          <div class="col-md-2 mx-auto">
            <button type="submit" class="btn btn-outline-success">Valider</button>
          </div>
        </div>
      </div>
    </form>
