<div class="container">
    <div *ngIf="formreservation"class="container"> 
      <form [formGroup]="mailForm" (ngSubmit)="verif()">
          <div  class="row my-4">
              <div class="col-md-6 offset-md-1">
                <label>Adresse de facturation</label>
                <input type='email' formControlName="mail" class='form-control'>
              </div>
              <div class="col-md-3 ">
                <button type="submit"  class="btn btn-success">Valider</button>
              </div>
          </div>
      </form>
    </div>
    <div *ngIf="payer" class="row my-4">
        <div class="col-md-2 mx-auto">
            <p>Récapitulatif de la reservation</p>
            <p>Date debut: {{datedebut}}</p>
            <p>Date debut: {{datefin}}</p>
            <p>Adresse de facturation: {{email}}</p>
            <p>Inforamtion vehicule: {{email}}</p>
            <p>Prix: {{prix}}</p>
        </div>
      <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
          <input type="text" formControlName="name" placeholder="Jane Doe">
          <div id="card-element" class="field"></div>
          <button type="submit" class="btn btn-success">
            BUY
          </button>
        </form>
    </div>
</div> 
