<body>
  <div class="head-promotion">
    <div class="shadow-head">
        <h2>Nos Promotions</h2>
    </div>
  </div>

  <div class="promotion">
    <div class="card">
      <div class="card-head">
        <h5 class="card-title">Moins 20%</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Nous proposons une réduction de 20% à nos client fidèle durant les mois de juillets et aout</p>
      </div>
    </div>

    <div class="card">
      <div class="card-head">
        <h5 class="card-title">Moins 50%</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Tout les ans nous proposons une réduction de 50% lors du mois d'inscription du client</p>
      </div>
    </div>

    <div class="card">
      <div class="card-head">
        <h5 class="card-title">Moins 20%</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Nous proposons une réduction de 20% à nos client fidèle durant les mois de juillets et aout</p>
      </div>
    </div>
  </div>
</body>