<div class="container">
  <h1>Gestion administration</h1>
  <div class="row">
    <div class="col-md-4 admin-container">
      <div class="admin-bloc">
        <h2>Utilisateurs</h2>
        <p>Voir les différents utilisateurs du site</p>
        <a class="btn btn-primary" href="administration/utilisateurs">Voir </a>
      </div>
    </div>
    <div class="col-md-4 admin-container">
      <div class="admin-bloc">
        <h2>Offre</h2>
        <p>Voir les offres enregistrées sur le site</p>
        <a class="btn btn-primary" href="administration/offre">Voir </a>
      </div>
    </div>
    <div class="col-md-4 admin-container">
      <div class="admin-bloc">
        <h2>Reservation</h2>
        <p>Voir les réservations en lignes</p>
        <a class="btn btn-primary" href="administration/reservation">Voir </a>
      </div>
    </div>
  </div>
</div>
