<div class="container">
  <h1>Gestion administration</h1>
  <div class="row">
    <div class="col-lg-4 col-md-12 admin-container">
      <div class="admin-bloc">
        <h2>Utilisateurs</h2>
        <p>Voir les utilisateurs</p>
        <a class="btn btn-primary" href="administration/utilisateurs">Voir </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 admin-container">
      <div class="admin-bloc">
        <h2>Offre</h2>
        <p>Voir les offres enregistrées</p>
        <a class="btn btn-primary" href="administration/offre">Voir </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 admin-container">
      <div class="admin-bloc">
        <h2>Reservation</h2>
        <p>Voir les réservations</p>
        <a class="btn btn-primary" href="administration/reservation">Voir </a>
      </div>
    </div>
  </div>
</div>
