

<div class="container">
  <h1>Gestion client</h1>
  <h2 class="my-3" >Changement des infos clients</h2>
  <form action="" method="post" #gestionForm="ngForm">
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="lastname">Nom</label>
        <input [(ngModel)]="model.lastName" type="text" class="form-control" name="lastName" id="" required>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="firstname">Prénom</label>
        <input [(ngModel)]="model.firstName" type="text" class="form-control" name="firstName" id="" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="adressOne">Adresse 1</label>
        <input [(ngModel)]="model.adressOne" type="text" class="form-control" name="adressOne" id="" required>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="adressTwo">Adresse 2</label>
        <input [(ngModel)]="model.adressTwo" type="text" class="form-control" name="adressTwo" id="">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="postal">Code postal</label>
        <input [(ngModel)]="model.postalCode" type="number" class="form-control" name="postalCode" id="" required>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="city">Ville</label>
        <input [(ngModel)]="model.city" type="text" class="form-control" name="city" id="" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="license">Département</label>
        <input [(ngModel)]="model.department" type="number" class="form-control" name="department" id="" required>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="license">Numéro de permis</label>
        <input [(ngModel)]="model.license" type="text" class="form-control" name="license" id="" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="phone">Téléphone</label>
        <input [(ngModel)]="model.phone" type="tel" class="form-control" name="phone" id="" required>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="mail">Mail</label>
        <input [email]="true" [(ngModel)]="model.mail" type="email" class="form-control" name="mail" id="" required>
      </div>
    </div>
    <div class="row">
        <input class=" col-md-3 col-xs-12 mx-auto btn btn-outline-success" type="submit" value="Mettre à jour">
    </div>
  </form>
  <hr>
  <h2 class="my-3">Changement de mot de passe</h2>
  <form action="" method="post">
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="old_pass">Ancien mot de passe</label>
        <input type="password" class="form-control" name="old_pass" id="" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="new_pass">Nouveau mot de passe</label>
        <input type="password" class="form-control" name="new_pass" id="" required>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="form-required" for="conf_pass">Confirmation mot de passe</label>
        <input type="password" class="form-control" name="conf_pass" id="" required>
      </div>
    </div>
    <div class="row">
        <input class=" col-md-3 col-xs-12 mx-auto btn btn-outline-success" type="submit" value="Mettre à jour">
    </div>
  </form>

</div>
