<app-interface-utilisateur></app-interface-utilisateur>

<div class="col-md-4">
    <p class="reservation-download"><a (click)="editUser()" class="text-danger"> Modifier vos information <i class="fa fa-edit"></i> </a></p>
  </div>

  <div *ngIf="edituser">
    <form>
      <label>Nom</label>
      <input class="form-control" type="text" style="width:200px" formControlName="lastName">
      <label>Prenom</label>
      <input class="form-control" type="text" style="width:200px" formControlName="firstName">
      <label>Email</label>
      <input class="form-control" type="text" style="width:200px" formControlName="birthday">
      <label>Date</label>
      <input class="form-control" type="date" style="width:200px">
      <label>Adresse</label>
      <input class="form-control" type="text" style="width:200px">
      <label>Ville</label>
      <input class="form-control" type="text" style="width:200px">
      <label>Code Postal</label>
      <input class="form-control" type="text" style="width:200px">
      <label>Telephone</label>
      <input class="form-control" type="text" style="width:200px">
      <label>Numero de permis</label>
      <input class="form-control" type="text" style="width:200px">
      <label>Mots de passe</label>
      <input class="form-control" type="text" style="width:200px">
      <label>confirmer le mots de passe</label>
      <input class="form-control" type="text" style="width:200px">
      <div class="row my-4">
          <div class="col-md-2 mx-auto">
            <button (click)="saveUser()" type="submit" class="btn btn-success">Enregistrer</button>
            <button (click)="notSave()" type="submit" class="btn btn-danger">Annuler</button>
          </div>
        </div>  
    </form>
  </div>