<app-interface-utilisateur></app-interface-utilisateur>

<div class="col-md-4">
    <p class="reservation-download"><a (click)="editUser()" class="text-danger"> Modifier vos information <i class="fa fa-edit"></i> </a></p>
  </div>

  <div *ngIf="edituser">
      <form [formGroup]="registerForm" (ngSubmit)="saveUser()">
          <label> Nom : </label>
              <input class="form-control"  type="text" formControlName="lastName" value="{{ nom }}">
          <label> Prénom : </label>
              <input class="form-control"  type="text" formControlName="firstName" value="{{ prenom }}">
          <label> date de naissance : </label>
              <input class="form-control"  type="date" formControlName="birthday" value="{{ anniversaire }}">
          <label> sexe : </label>
              <input class="form-control"  type="text" formControlName="gender" value="{{ genre }}">
          <label> phone : </label>
              <input class="form-control"  type="tel" formControlName="phone" value="{{ phone }}">
          <label> adresse :</label>
              <input class="form-control"  type="text" formControlName="adress" value="{{ adress }}">
          <label> ville :</label>
              <input class="form-control"  type="text" formControlName="city" value="{{ city }}">
          <label> code postal : </label>
              <input class="form-control"  type="text" formControlName="zip" value="{{ code }}">
          <label> pays : </label>
              <input class="form-control"  type="text" formControlName="country" value="{{ pays }}">
          <label> permis de conduire : </label>
              <input class="form-control"  type="text" formControlName="driverLicense" value="{{ npermis }}">
          <label> mail : </label>
              <input class="form-control"  type="email" formControlName="mail" value="{{ mail }}">
          <label> mot de passe : </label>
              <input class="form-control"  type="password" formControlName="password1">
          <label> Confirmation du mot de passe : </label>
              <input class="form-control"  type="password" formControlName="password2">
              <p *ngIf="password" style="color: red">Les mots de passes ne son pas identique</p>
          <div class="row my-4">
              <div class="col-md-2 mx-auto">
                <button  type="submit" [disabled]="!registerForm.valid" class="btn btn-success">Enregistrer</button>
                <button (click)="notSave()"  type="button" class="btn btn-danger">Annuler</button>
              </div>
            </div> 
        </form>
</div>