<app-interface-utilisateur></app-interface-utilisateur>

<div class="col-md-4">
  <p class="reservation-download"><a (click)="newVehicule()" class="text-danger"> Ajouter un vehicule <i class="fa fa-plus"></i> </a></p>
</div>
<div *ngIf="ajoutVehicule">
  <form>
  <div class="container"> 
  <div class="row my-4">
    <div class="col-md-2 offset-md-1">
    <label for="type_vehicule">Type de vehicule</label>
    <select class="form-control" #type id="type_vehicule" required>
      <option disabled selected value hidden> -- select an option -- </option>
      <option *ngFor="let typev of type_vehicule" [value]="typev.id">{{typev.nom}}</option>
    </select>
    </div>
    <div class="col-md-2 ">
    <label for="marque">Marques</label>
    <select (change)="Onchange(marques.value)" #marques class="form-control" id="marque" required>
      <option disabled selected value hidden> -- select an option -- </option>
      <option *ngFor="let mar of marque" [value]="mar.id">{{mar.nom}}</option>
    </select>
    </div>
  <div class="col-md-2 ">
        <label for="model">Model</label>
        <select class="form-control" #models id="model" required>
          <option disabled selected value hidden> -- select an option -- </option>
          <option *ngFor="let mod of model" [value]="mod.id">{{mod.nom}}</option>
        </select>
    </div>
    <div class="col-md-2 ">
        <label for="couleur">Couleur</label>
        <select class="form-control" id="couleur" #couleurs required>
          <option disabled selected value hidden> -- select an option -- </option>
          <option *ngFor="let coul of couleur" [value]="coul.id">{{coul.nom}}</option>
        </select>
    </div>
  </div>
    <div class="row my-4">
        <div class="col-md-2 ">
            <label for="couleur">Autonomie (Km)</label>
            <input type="text" #auto class="form-control" >
        </div>
        <div class="col-md-2 ">
            <label for="couleur">Kilometrage (Km)</label>
            <input type="text" #kilo class="form-control" >
        </div>
        <div class="col-md-2 ">
            <label for="couleur">Capaciter (Personne)</label>
            <input type="text" #capa class="form-control" >
        </div>
        <div class="col-md-2 ">
            <label for="couleur">Coffre (L)</label>
            <input type="text" #cof class="form-control" >
        </div>
        <div class="col-md-2 ">
            <label for="couleur">Plaque d'immatriculation</label>
            <input type="text" #plaque class="form-control" >
        </div>
        <div class="col-md-2 ">
            <label for="couleur">Prix (A la jpournée)</label>
            <input type="text" #prix class="form-control" >
        </div>
        <div class="col-md-2 ">
          <label for="couleur">Image</label>
          <input type="file" #img class="form-control" >
      </div>
    </div>
    <div class="row my-4">
        <div class="col-md-2 mx-auto">
          <button (click)="saveVehicule(type.value,marques.value,models.value,couleurs.value,auto.value,kilo.value,capa.value,cof.value,plaque.value,prix.value,img)" type="submit" class="btn btn-success">Enregistrer</button>
          <button (click)="notSave()" type="submit" class="btn btn-danger">Annuler</button>
        </div>
      </div>  
  </div>
  </form>
</div>
<p *ngIf="MessNotOffre" style="color : green" >vous n'avez aucune offre</p>
<div class="container">
  <div class="row">
    <div *ngFor="let offres of offre" class="reservation-container">
      <p class="reservation-debut">{{offres.marque}} <span class="reservation-fin">{{offres.model}}</span> </p>
      <div class="row">
        <div class="col-md-4">
          <p class="reservation-download"><a id="{{reservations.id}}" #res (click)="onDownloadFacture(res.id)" class="text-danger"> <i class="fa fa-edit"></i> </a></p>
          <p class="reservation-download"><a id="{{reservations.id}}" #res (click)="onDownloadFacture(res.id)" class="text-danger"> <i class="fa fa-trash"></i> </a></p>
        </div>

      </div>
    </div>
  </div>
</div>
