<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12 user-container">
      <div class="user-bloc">
        <h2>Profil</h2>
        <p>Modifier vos informations</p>
        <a class="btn btn-primary" href="utilisateur/info">Voir </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 user-container">
      <div class="user-bloc">
        <h2>Offres</h2>
        <p>Voir vos offres</p>
        <a class="btn btn-primary" href="utilisateur/offre">Voir </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 user-container">
      <div class="user-bloc">
        <h2>Reservations</h2>
        <p>Voir vos réservations</p>
        <a class="btn btn-primary" href="utilisateur/reservation">Voir </a>
      </div>
    </div>
  </div>
</div>
