<p>
  <h1>Bonjour {{nom}} {{prenom}}</h1>
<p>
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 admin-container">
            <div class="admin-bloc">
              <h2>Utilisateurs</h2>
              <p>Modifier vos inforamtions</p>
              <a class="btn btn-primary" href="utilisateur/info">Voir </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 admin-container">
            <div class="admin-bloc">
              <h2>Offre</h2>
              <p>Voir vos offres</p>
              <a class="btn btn-primary" href="utilisateur/offre">Voir </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 admin-container">
            <div class="admin-bloc">
              <h2>Reservation</h2>
              <p>Voir vos réservations</p>
              <a class="btn btn-primary" href="utilisateur/reservation">Voir </a>
            </div>
          </div>
        </div>
      </div>
