<body>

  <div class="image-begin">
    <div class="shadow-head">
      <h1>E-Motion</h1>
      <div class="header">
        <h3>La location de véhicule avec E-Motion</h3>
        <div class="row">
          <form class="form-horizontal col-md-8 col-md-offset-2" role="form" ng-controller="HeaderCtrl">
              <div class="input-group" >
                  <div class="nom-voiture"><input ng-model="query" type="text" class="form-control" placeholder="Renauld, peugeot, ..."></div>
                  <input type="date" name="dateDebut" id="">
                  <input type="time" id="exampleInput" name="heureDebut" ng-model="example.value"
                      placeholder="HH:mm:ss" min="08:00:00" max="20:00:00" required >
                  <input type="date" name="dateFin" id="">
                  <input type="time" id="exampleInput" name="heureFin" ng-model="example.value"
                      placeholder="HH:mm:ss" min="08:00:00" max="20:00:00" required >
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default glyphicon glyphicon-search" type="button" ng-click="searchAction()">Valider</button>
              </span>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <p> Nous vous proposons un service de location de véhicule au tout moment en passant par notre site.</p>
  <p>Vous pourrez voir les véhicules que nous proposonsn qui sont disponible dés maintenant</p>
</body>