.image-begin{
    width: 100%;
    background-image: url('../../../assets/images/tesla-model-s.jpg');
    background-position: center;
    height: 500px;
    background-size: cover;
}

.image-begin .shadow-head{
    height: 100%;
    width: 100%;
    background-color: rgba(70, 70, 70, 0.6);
    box-shadow: 0 0 20px 2px #333 inset;
    display: flex;
    align-items: center;
    flex-basis: auto;
    justify-content: center;
    flex-direction: column;
}

.image-begin .shadow-head > h1{
    text-align: center;
    color: whitesmoke;
}

.image-begin .shadow-head h3{
    text-align: center;
    color: whitesmoke;
}

.image-begin .shadow-head .header .row {
    justify-content: center;
}

.image-begin .shadow-head .header .row .input-group .nom-voiture{
    width: 100%;
    margin-bottom: 10px;
}

.image-begin .shadow-head .header .row .input-group{
    justify-content: center;
}

.image-begin .shadow-head .header .row .input-group input{
    background-color: #333;
    opacity: 0.8;
    color: whitesmoke;
    
}

.image-begin .shadow-head .header .row .input-group button{
    padding:6px 0 6px 0;
    margin-top: 10px;
	font:Bold 13px Arial;
	background:#821513;
	color:#fff;
	width:90px;
	border-radius:2px;
	border:none;
}
/*
.presentation {
    background: linear-gradient(#3A3A3A ,#333);
    opacity: 0.90;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(17, 17, 17);
    color: #fff;
    width: 18rem;
}

.card .card-body{
    background-color: lightgrey;
    opacity: 0.9;
    color: #383838;

}
*/

.background-blue {
    background: var(--cyan);
    color: white;
}

.background-white {
    background: white;
    color: var(--cyan);
}

.presentation {
    margin-top: 60px;
}

.presentation .title{
    position: relative;
    z-index: 2;
    padding: 10px 0;
}

.presentation .body {
    padding: 30px 0;
    min-height: 300px;
}

.partenaire{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-basis: auto;
    justify-content: space-around;
}

h2{
    margin-top: 20px;
    text-align: center;
}

.background-white .picto,
.background-blue .picto{
    position: relative;
}

.background-white .picto:before{
    background-color: white;
}

.background-blue .picto:before{
    background-color: var(--cyan);
}

.background-white .picto:before,
.background-blue .picto:before{
    width: 115px;
    height: 75px;
    border-radius: 80px;
    position: absolute;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
    left: 0;
    right: 0;
    margin: auto;
    top: -37.5px;
    font-size: 35px;
}

.about-us .picto:before{
    content: "\f128";
}

.offers .picto:before{
    content: "\f155";
}

.our-team .picto:before{
    content: "\f0c0";
}

.partenaria .picto:before {
    content: "\f2b5";
}