<body>

  <header>
    <div class="title">
      <h1>E-Motion</h1>
      <p>Le numéro 1 de la location 100% éléctrique en france</p>
    </div>
    <div class="car">
      <img src="../../../assets/images/tesla.png" alt="">
    </div>
  </header>

  <app-vehicule-liste></app-vehicule-liste>

  <div class="presentation container-fluid">
    <div class="row about-us background-blue">
      <div class="container">
        <div class="picto"></div>
        <div class="title">
          <h2>A propos d'E-motion</h2>
        </div>
        <div class="body">
          <p>E-Motion a été fondée en 2008 à Paris, en France, et a commencé avec une flotte de seulement trois
          véhicules. En tant que l'une des premières et des plus influentes sociétés internationales de location de
          voitures dans le monde - avec plus de 10 ans d'expérience dans le domaine - nous avons acquis une réputation
          de
          confiance en tant que leader mondial de la location de voitures. Toujours à l'avant-garde de l'industrie, nous
          avons été la première compagnie de location de voitures éléctrique avec un site Web et la première à accepter les
          réservations mobiles.
          Nous offrons des emplacements pratiques tels que des aéroports, des gares, des ports de croisière et des hôtels.
        </p>
        </div>
      </div>
    </div>
    <div class="row our-team background-white">
      <div class="container">
        <div class="picto"></div>
        <div class="title">
          <h2>Notre Équipe</h2>
        </div>
        <div class="body">
          <p>E-Motion recrute des personnes qualifées dans la location, réparation et marketing. A travers le monde
          E-motion à de nombreuses équipes et veille au bon fonctionnement de celle-ci, ainsi tout les véhicules vous
          sont livrés dans les meilleures conditions possible, comme si la voiture était neuve à chaque location.</p>
        </div>
      </div>
    </div>
    <div class="row offers background-blue">
      <div class="container">
        <div class="picto"></div>
        <div class="title">
          <h2>Nos promotions</h2>
        </div>
        <div class="body">
          <p>Vous aurez ici toutes les promotions du site !</p>
          <!-- Mettre le slideshow ici -->
        </div>  
      </div>
    </div>
    <div class="row partenaria background-white">
        <div class="container">
          <div class="picto"></div>
          <div class="title">
            <h2>Nos partenaires</h2>
          </div>
          <div class="body">
              <div class="partenaire">
                <img src="../../../assets/images/logo-Michelin2.png">
                <img src="../../../assets/images/stacks-image-c3ee5ea.png">
              </div>
          </div>  
        </div>
      </div>
    
  </div>

</body>
