<body>
  <div class="image-begin">
    <div class="shadow-head">
      <h1>E-Motion</h1>
    </div>
  </div>

  <app-vehicule-liste></app-vehicule-liste>

  <div class="presentation">
    <div class="card">
      <h5 class="card-title">Qui sommes nous ?</h5>
      <div class="card-body">
        <p class="card-text">Nous somme une société qui vous propose de pouvoir louer un scooter ou une voiture électrique à Paris et à Lyon.</p>
      </div>
    </div>
      
    <div class="card">
      <h5 class="card-title">Notre equipe</h5>
      <div class="card-body">
        <p class="card-text">Notre équipe est professionnel et pourra s'occuper de vous renseigner peut importe votre question.</p>
      </div>
    </div>

    <div class="card">
        <h5 class="card-title">Nos promotions</h5>
        <div class="card-body">
          <p class="card-text">Nous proposons des promotions que vous pourrez gagner en louant nos véhicules.</p>
        </div>
    </div>

    <div class="card">
      <div class="card-head">
        <h5 class="card-title">Location de voiture</h5>
      </div>
        <div class="card-body">
          <p class="card-text">Vous pouvez voir la liste des voitures que nous proposons.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
            Voir la liste
          </button>
        </div>
    </div>

    <div class="card">
        <h5 class="card-title">Location de scooter</h5>
        <div class="card-body">
          <p class="card-text">Vous pouvez voir la liste des scooters que nous proposons</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
              Voir la liste
            </button>
        </div>
    </div>
  </div>

  <h2>Nos partenaires</h2>
  <div class="partenaire">
    <img src="../../../assets/images/logo-Michelin2.png">
    <img src="../../../assets/images/stacks-image-c3ee5ea.png">
  </div>
</body>